body {
  padding-top: 20px;
  margin: 0;
  font-family: $font-family-sans-serif;
  color: $primary-color;
  background-color: $background-color;
}

p {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .main-content {
    display: flex;

    &__secondary-content--left {
      width: 40%;
    }

    &__secondary-content--right {
      width: 60%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .main-content {
    width: 1024px;
    margin: auto;
  }
}
