body {
  padding-top: 20px;
  margin: 0;
  font-family: $font-family-sans-serif;
  color: $primary-color;
  background-color: $background-color;
}

p {
  margin: 0;
}

@media screen and (min-width: 768px) {

  .mainContent {
    display: flex;

    &__secondaryContent--left {
      width: 40%;
    }

    &__secondaryContent--right {
      width: 60%;
    }
  }
}

@media screen and (min-width: 1024px) {

  .mainContent {
    width: 1024px;
    margin: auto;
  }
}
