.presentation {
  display: flex;
  flex-flow: column;
  align-items: center;

  &__image {
    border: 3px solid $primary-color;
    border-radius: 50%;
  }

  &__info {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
    
  .presentation {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    padding-bottom: 20px;
    border-bottom: 3px solid $primary-color;
  }
}

@media screen and (min-width: 1024px) {

  .presentation {
    justify-content: center;

    &__info {
      padding: 0 80px;
    }
  }
}
