@import "functions";

.section {
  padding: 5px 20px;
}

@media screen and (min-width: 768px) {
  
  .section {
    border-right: 3px solid $primary-color;

    &--left {
      border-left: 3px solid $primary-color;
    }
  }
}

.section__content {
  padding: 0;
}

.section__item {
  padding: 0 5px;
  margin-bottom: 12px;
  list-style: none;
  border-left: 1px solid setcolor(odd);

  &--secondary {
    display: flex;
    align-items: center;
    padding: 0;
    border-left: 0 solid transparent;
  }
}

.section__link {
  color: $background-color;
}

.section__icon {
  padding-right: 5px;
}

.section__title {
  padding-bottom: 3px;
  font-weight: bold;
}

.section__date {
  font-weight: lighter;
}

.section--odd {
  color: setcolor(even);
  background-color: setcolor(odd);
}

.section--even {
  color: setcolor(odd);
  background-color: setcolor(even);
}
